################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
/Benchmark/BenchmarkDotNet.Artifacts
/Tests/Apex.Serialization.Tests/Apex.Serialization.Tests.csproj.user
/Tests/Apex.Serialization.Tests/TestResults
/Tests/Apex.Serialization.Tests/coverage.cobertura.xml
